.App-logo {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  opacity: 0.6;
  border-radius: 20px;
}

.App-header {
  margin: 30px;
}

.App-footer {
  text-align: center;
  margin: 100px 0;
}
